/*
White Smoke: rgba(247, 247, 242, 1);
Verdigris: rgba(58, 175, 185, 1);
Sea Blue: rgba(0, 105, 137, 1);
Rich Black: rgba(9, 58, 62, 1);
Licorice: rgba(18, 17, 19, 1);

*/

#main {
  font-family: 'Arvo', sans-serif;
}
body {
  background-color: rgba(9, 58, 62, 1);
}
#title {
  font-size: 50px;
  font-family: 'Arvo', sans-serif;
  color: rgba(58, 175, 185, 1);
  text-align: center;
  font-weight: normal;
}
#description {
  color: rgba(247, 247, 242, 1);
  font-weight: lighter;
  font-size: 25px;
  text-align: center;
  margin-top: -20px;
}
#survey-form {
}
